presenter/src/eduze/vms/presenter/logic/mpi/presenterconsole/pc_-2065597989.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.facilitator.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.facilitator.vms.eduze/" name="PresenterConsoleImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.facilitator.vms.eduze/" schemaLocation="http://0.0.0.0:7000/presenter/pc_-2065597989?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="disconnect">
<part name="parameters" element="tns:disconnect"></part>
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse"></part>
</message>
<message name="getConsoleId">
<part name="parameters" element="tns:getConsoleId"></part>
</message>
<message name="getConsoleIdResponse">
<part name="parameters" element="tns:getConsoleIdResponse"></part>
</message>
<message name="acknowledgeConnection">
<part name="parameters" element="tns:acknowledgeConnection"></part>
</message>
<message name="acknowledgeConnectionResponse">
<part name="parameters" element="tns:acknowledgeConnectionResponse"></part>
</message>
<portType name="PresenterConsole">
<operation name="disconnect">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/disconnectRequest" message="tns:disconnect"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/disconnectResponse" message="tns:disconnectResponse"></output>
</operation>
<operation name="getConsoleId">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getConsoleIdRequest" message="tns:getConsoleId"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getConsoleIdResponse" message="tns:getConsoleIdResponse"></output>
</operation>
<operation name="acknowledgeConnection">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/acknowledgeConnectionRequest" message="tns:acknowledgeConnection"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/acknowledgeConnectionResponse" message="tns:acknowledgeConnectionResponse"></output>
</operation>
</portType>
<binding name="PresenterConsoleImplPortBinding" type="tns:PresenterConsole">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="disconnect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="acknowledgeConnection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PresenterConsoleImplService">
<port name="PresenterConsoleImplPort" binding="tns:PresenterConsoleImplPortBinding">
<soap:address location="http://0.0.0.0:7000/presenter/pc_-2065597989"></soap:address>
</port>
</service>
</definitions>