presenter/src/eduze/vms/presenter/logic/mpi/presenterconsole/pc_1183992199.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.facilitator.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.facilitator.vms.eduze/" name="PresenterConsoleImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.facilitator.vms.eduze/" schemaLocation="http://0.0.0.0:7000/presenter/pc_1183992199?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"></part>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"></part>
</message>
<message name="setName">
<part name="parameters" element="tns:setName"></part>
</message>
<message name="setNameResponse">
<part name="parameters" element="tns:setNameResponse"></part>
</message>
<message name="DisconnectedException">
<part name="fault" element="tns:DisconnectedException"></part>
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect"></part>
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse"></part>
</message>
<message name="ServerConnectionException">
<part name="fault" element="tns:ServerConnectionException"></part>
</message>
<message name="getVMSnapshot">
<part name="parameters" element="tns:getVMSnapshot"></part>
</message>
<message name="getVMSnapshotResponse">
<part name="parameters" element="tns:getVMSnapshotResponse"></part>
</message>
<message name="getConsoleId">
<part name="parameters" element="tns:getConsoleId"></part>
</message>
<message name="getConsoleIdResponse">
<part name="parameters" element="tns:getConsoleIdResponse"></part>
</message>
<message name="requestScreenAccess">
<part name="parameters" element="tns:requestScreenAccess"></part>
</message>
<message name="requestScreenAccessResponse">
<part name="parameters" element="tns:requestScreenAccessResponse"></part>
</message>
<message name="requestAudioRelayAccess">
<part name="parameters" element="tns:requestAudioRelayAccess"></part>
</message>
<message name="requestAudioRelayAccessResponse">
<part name="parameters" element="tns:requestAudioRelayAccessResponse"></part>
</message>
<message name="getOutScreenShareConsoleId">
<part name="parameters" element="tns:getOutScreenShareConsoleId"></part>
</message>
<message name="getOutScreenShareConsoleIdResponse">
<part name="parameters" element="tns:getOutScreenShareConsoleIdResponse"></part>
</message>
<message name="getOutAudioRelayConsoleId">
<part name="parameters" element="tns:getOutAudioRelayConsoleId"></part>
</message>
<message name="getOutAudioRelayConsoleIdResponse">
<part name="parameters" element="tns:getOutAudioRelayConsoleIdResponse"></part>
</message>
<message name="getAssignedTasks">
<part name="parameters" element="tns:getAssignedTasks"></part>
</message>
<message name="getAssignedTasksResponse">
<part name="parameters" element="tns:getAssignedTasksResponse"></part>
</message>
<message name="acknowledgeConnection">
<part name="parameters" element="tns:acknowledgeConnection"></part>
</message>
<message name="acknowledgeConnectionResponse">
<part name="parameters" element="tns:acknowledgeConnectionResponse"></part>
</message>
<portType name="PresenterConsole">
<operation name="getName">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getNameRequest" message="tns:getName"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getNameResponse" message="tns:getNameResponse"></output>
</operation>
<operation name="setName">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/setNameRequest" message="tns:setName"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/setNameResponse" message="tns:setNameResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/setName/Fault/DisconnectedException"></fault>
</operation>
<operation name="disconnect">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/disconnectRequest" message="tns:disconnect"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/disconnectResponse" message="tns:disconnectResponse"></output>
<fault message="tns:ServerConnectionException" name="ServerConnectionException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/disconnect/Fault/ServerConnectionException"></fault>
</operation>
<operation name="getVMSnapshot">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getVMSnapshotRequest" message="tns:getVMSnapshot"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getVMSnapshotResponse" message="tns:getVMSnapshotResponse"></output>
<fault message="tns:ServerConnectionException" name="ServerConnectionException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getVMSnapshot/Fault/ServerConnectionException"></fault>
</operation>
<operation name="getConsoleId">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getConsoleIdRequest" message="tns:getConsoleId"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getConsoleIdResponse" message="tns:getConsoleIdResponse"></output>
</operation>
<operation name="requestScreenAccess">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestScreenAccessRequest" message="tns:requestScreenAccess"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestScreenAccessResponse" message="tns:requestScreenAccessResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestScreenAccess/Fault/DisconnectedException"></fault>
</operation>
<operation name="requestAudioRelayAccess">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestAudioRelayAccessRequest" message="tns:requestAudioRelayAccess"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestAudioRelayAccessResponse" message="tns:requestAudioRelayAccessResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/requestAudioRelayAccess/Fault/DisconnectedException"></fault>
</operation>
<operation name="getOutScreenShareConsoleId">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutScreenShareConsoleIdRequest" message="tns:getOutScreenShareConsoleId"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutScreenShareConsoleIdResponse" message="tns:getOutScreenShareConsoleIdResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutScreenShareConsoleId/Fault/DisconnectedException"></fault>
</operation>
<operation name="getOutAudioRelayConsoleId">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutAudioRelayConsoleIdRequest" message="tns:getOutAudioRelayConsoleId"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutAudioRelayConsoleIdResponse" message="tns:getOutAudioRelayConsoleIdResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getOutAudioRelayConsoleId/Fault/DisconnectedException"></fault>
</operation>
<operation name="getAssignedTasks">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getAssignedTasksRequest" message="tns:getAssignedTasks"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getAssignedTasksResponse" message="tns:getAssignedTasksResponse"></output>
<fault message="tns:DisconnectedException" name="DisconnectedException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/getAssignedTasks/Fault/DisconnectedException"></fault>
</operation>
<operation name="acknowledgeConnection">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/acknowledgeConnectionRequest" message="tns:acknowledgeConnection"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/acknowledgeConnectionResponse" message="tns:acknowledgeConnectionResponse"></output>
<fault message="tns:ServerConnectionException" name="ServerConnectionException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/PresenterConsole/acknowledgeConnection/Fault/ServerConnectionException"></fault>
</operation>
</portType>
<binding name="PresenterConsoleImplPortBinding" type="tns:PresenterConsole">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="disconnect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServerConnectionException">
<soap:fault name="ServerConnectionException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getVMSnapshot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServerConnectionException">
<soap:fault name="ServerConnectionException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestScreenAccess">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="requestAudioRelayAccess">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getOutScreenShareConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getOutAudioRelayConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAssignedTasks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DisconnectedException">
<soap:fault name="DisconnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="acknowledgeConnection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServerConnectionException">
<soap:fault name="ServerConnectionException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PresenterConsoleImplService">
<port name="PresenterConsoleImplPort" binding="tns:PresenterConsoleImplPortBinding">
<soap:address location="http://0.0.0.0:7000/presenter/pc_1183992199"></soap:address>
</port>
</service>
</definitions>