facilitator/src/eduze/vms/facilitator/logic/mpi/facilitatorconsole/13.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.server.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.server.vms.eduze/" name="FacilitatorConsoleImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.server.vms.eduze/" schemaLocation="http://localhost:8000/facilitator/13?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getConsoleId">
<part name="parameters" element="tns:getConsoleId"></part>
</message>
<message name="getConsoleIdResponse">
<part name="parameters" element="tns:getConsoleIdResponse"></part>
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect"></part>
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse"></part>
</message>
<message name="getFacilitatorName">
<part name="parameters" element="tns:getFacilitatorName"></part>
</message>
<message name="getFacilitatorNameResponse">
<part name="parameters" element="tns:getFacilitatorNameResponse"></part>
</message>
<portType name="FacilitatorConsole">
<operation name="getConsoleId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/getConsoleIdRequest" message="tns:getConsoleId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/getConsoleIdResponse" message="tns:getConsoleIdResponse"></output>
</operation>
<operation name="disconnect">
<input wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/disconnectRequest" message="tns:disconnect"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/disconnectResponse" message="tns:disconnectResponse"></output>
</operation>
<operation name="getFacilitatorName">
<input wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/getFacilitatorNameRequest" message="tns:getFacilitatorName"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorConsole/getFacilitatorNameResponse" message="tns:getFacilitatorNameResponse"></output>
</operation>
</portType>
<binding name="FacilitatorConsoleImplPortBinding" type="tns:FacilitatorConsole">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="disconnect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFacilitatorName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FacilitatorConsoleImplService">
<port name="FacilitatorConsoleImplPort" binding="tns:FacilitatorConsoleImplPortBinding">
<soap:address location="http://localhost:8000/facilitator/13"></soap:address>
</port>
</service>
</definitions>