presenter/src/eduze/vms/presenter/logic/mpi/screenshareconsole/-1325258780.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.facilitator.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.facilitator.vms.eduze/" name="ScreenShareConsoleImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.facilitator.vms.eduze/" schemaLocation="http://0.0.0.0:7000/screen-share/-1325258780?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="isEnabled">
<part name="parameters" element="tns:isEnabled"></part>
</message>
<message name="isEnabledResponse">
<part name="parameters" element="tns:isEnabledResponse"></part>
</message>
<message name="getConsoleId">
<part name="parameters" element="tns:getConsoleId"></part>
</message>
<message name="getConsoleIdResponse">
<part name="parameters" element="tns:getConsoleIdResponse"></part>
</message>
<message name="setUpdateInterval">
<part name="parameters" element="tns:setUpdateInterval"></part>
</message>
<message name="setUpdateIntervalResponse">
<part name="parameters" element="tns:setUpdateIntervalResponse"></part>
</message>
<message name="getUpdateInterval">
<part name="parameters" element="tns:getUpdateInterval"></part>
</message>
<message name="getUpdateIntervalResponse">
<part name="parameters" element="tns:getUpdateIntervalResponse"></part>
</message>
<portType name="ScreenShareConsole">
<operation name="isEnabled">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/isEnabledRequest" message="tns:isEnabled"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/isEnabledResponse" message="tns:isEnabledResponse"></output>
</operation>
<operation name="getConsoleId">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/getConsoleIdRequest" message="tns:getConsoleId"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/getConsoleIdResponse" message="tns:getConsoleIdResponse"></output>
</operation>
<operation name="setUpdateInterval">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/setUpdateIntervalRequest" message="tns:setUpdateInterval"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/setUpdateIntervalResponse" message="tns:setUpdateIntervalResponse"></output>
</operation>
<operation name="getUpdateInterval">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/getUpdateIntervalRequest" message="tns:getUpdateInterval"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/ScreenShareConsole/getUpdateIntervalResponse" message="tns:getUpdateIntervalResponse"></output>
</operation>
</portType>
<binding name="ScreenShareConsoleImplPortBinding" type="tns:ScreenShareConsole">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="isEnabled">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getConsoleId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setUpdateInterval">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUpdateInterval">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ScreenShareConsoleImplService">
<port name="ScreenShareConsoleImplPort" binding="tns:ScreenShareConsoleImplPortBinding">
<soap:address location="http://0.0.0.0:7000/screen-share/-1325258780"></soap:address>
</port>
</service>
</definitions>