presenter/src/eduze/vms/presenter/logic/mpi/facilitator/facilitator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.facilitator.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.facilitator.vms.eduze/" name="FacilitatorImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.facilitator.vms.eduze/" schemaLocation="http://0.0.0.0:7000/facilitator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="checkConnectionRequestState">
<part name="parameters" element="tns:checkConnectionRequestState"></part>
</message>
<message name="checkConnectionRequestStateResponse">
<part name="parameters" element="tns:checkConnectionRequestStateResponse"></part>
</message>
<message name="requestConnection">
<part name="parameters" element="tns:requestConnection"></part>
</message>
<message name="requestConnectionResponse">
<part name="parameters" element="tns:requestConnectionResponse"></part>
</message>
<message name="InvalidFacilitatorPasskeyException">
<part name="fault" element="tns:InvalidFacilitatorPasskeyException"></part>
</message>
<message name="getFacilitatorName">
<part name="parameters" element="tns:getFacilitatorName"></part>
</message>
<message name="getFacilitatorNameResponse">
<part name="parameters" element="tns:getFacilitatorNameResponse"></part>
</message>
<portType name="Facilitator">
<operation name="checkConnectionRequestState">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/checkConnectionRequestStateRequest" message="tns:checkConnectionRequestState"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/checkConnectionRequestStateResponse" message="tns:checkConnectionRequestStateResponse"></output>
</operation>
<operation name="requestConnection">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/requestConnectionRequest" message="tns:requestConnection"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/requestConnectionResponse" message="tns:requestConnectionResponse"></output>
<fault message="tns:InvalidFacilitatorPasskeyException" name="InvalidFacilitatorPasskeyException" wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/requestConnection/Fault/InvalidFacilitatorPasskeyException"></fault>
</operation>
<operation name="getFacilitatorName">
<input wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/getFacilitatorNameRequest" message="tns:getFacilitatorName"></input>
<output wsam:Action="http://webservices.logic.facilitator.vms.eduze/Facilitator/getFacilitatorNameResponse" message="tns:getFacilitatorNameResponse"></output>
</operation>
</portType>
<binding name="FacilitatorImplPortBinding" type="tns:Facilitator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="checkConnectionRequestState">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestConnection">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidFacilitatorPasskeyException">
<soap:fault name="InvalidFacilitatorPasskeyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFacilitatorName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FacilitatorImplService">
<port name="FacilitatorImplPort" binding="tns:FacilitatorImplPortBinding">
<soap:address location="http://0.0.0.0:7000/facilitator"></soap:address>
</port>
</service>
</definitions>