facilitator/src/eduze/vms/facilitator/logic/mpi/facilitatormanager/facilitator-manager.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.server.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.server.vms.eduze/" name="FacilitatorManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.server.vms.eduze/" schemaLocation="http://0.0.0.0:8000/facilitator-manager?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="unPair">
<part name="parameters" element="tns:unPair"></part>
</message>
<message name="unPairResponse">
<part name="parameters" element="tns:unPairResponse"></part>
</message>
<message name="pair">
<part name="parameters" element="tns:pair"></part>
</message>
<message name="pairResponse">
<part name="parameters" element="tns:pairResponse"></part>
</message>
<message name="AlreadyPairedException">
<part name="fault" element="tns:AlreadyPairedException"></part>
</message>
<message name="InvalidServerPasswordException">
<part name="fault" element="tns:InvalidServerPasswordException"></part>
</message>
<portType name="FacilitatorManager">
<operation name="unPair">
<input wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/unPairRequest" message="tns:unPair"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/unPairResponse" message="tns:unPairResponse"></output>
</operation>
<operation name="pair">
<input wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/pairRequest" message="tns:pair"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/pairResponse" message="tns:pairResponse"></output>
<fault message="tns:AlreadyPairedException" name="AlreadyPairedException" wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/pair/Fault/AlreadyPairedException"></fault>
<fault message="tns:InvalidServerPasswordException" name="InvalidServerPasswordException" wsam:Action="http://webservices.logic.server.vms.eduze/FacilitatorManager/pair/Fault/InvalidServerPasswordException"></fault>
</operation>
</portType>
<binding name="FacilitatorManagerImplPortBinding" type="tns:FacilitatorManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="unPair">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pair">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlreadyPairedException">
<soap:fault name="AlreadyPairedException" use="literal"></soap:fault>
</fault>
<fault name="InvalidServerPasswordException">
<soap:fault name="InvalidServerPasswordException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FacilitatorManagerImplService">
<port name="FacilitatorManagerImplPort" binding="tns:FacilitatorManagerImplPortBinding">
<soap:address location="http://0.0.0.0:8000/facilitator-manager"></soap:address>
</port>
</service>
</definitions>