facilitator/src/eduze/vms/facilitator/logic/mpi/vmsessionmanager/vm-session-manager1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.server.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.server.vms.eduze/" name="VMSessionManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.server.vms.eduze/" schemaLocation="http://localhost:8000/vm-session-manager?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="connect">
<part name="parameters" element="tns:connect"></part>
</message>
<message name="connectResponse">
<part name="parameters" element="tns:connectResponse"></part>
</message>
<message name="ServerNotReadyException">
<part name="fault" element="tns:ServerNotReadyException"></part>
</message>
<message name="MeetingAlreadyStartedException">
<part name="fault" element="tns:MeetingAlreadyStartedException"></part>
</message>
<message name="UnknownFacilitatorException">
<part name="fault" element="tns:UnknownFacilitatorException"></part>
</message>
<message name="FacilitatorAlreadyConnectedException">
<part name="fault" element="tns:FacilitatorAlreadyConnectedException"></part>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<portType name="VMSessionManager">
<operation name="connect">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connectRequest" message="tns:connect"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connectResponse" message="tns:connectResponse"></output>
<fault message="tns:ServerNotReadyException" name="ServerNotReadyException" wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connect/Fault/ServerNotReadyException"></fault>
<fault message="tns:MeetingAlreadyStartedException" name="MeetingAlreadyStartedException" wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connect/Fault/MeetingAlreadyStartedException"></fault>
<fault message="tns:UnknownFacilitatorException" name="UnknownFacilitatorException" wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connect/Fault/UnknownFacilitatorException"></fault>
<fault message="tns:FacilitatorAlreadyConnectedException" name="FacilitatorAlreadyConnectedException" wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/connect/Fault/FacilitatorAlreadyConnectedException"></fault>
</operation>
<operation name="getStatus">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/getStatusRequest" message="tns:getStatus"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VMSessionManager/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
</portType>
<binding name="VMSessionManagerImplPortBinding" type="tns:VMSessionManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="connect">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServerNotReadyException">
<soap:fault name="ServerNotReadyException" use="literal"></soap:fault>
</fault>
<fault name="MeetingAlreadyStartedException">
<soap:fault name="MeetingAlreadyStartedException" use="literal"></soap:fault>
</fault>
<fault name="UnknownFacilitatorException">
<soap:fault name="UnknownFacilitatorException" use="literal"></soap:fault>
</fault>
<fault name="FacilitatorAlreadyConnectedException">
<soap:fault name="FacilitatorAlreadyConnectedException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VMSessionManagerImplService">
<port name="VMSessionManagerImplPort" binding="tns:VMSessionManagerImplPortBinding">
<soap:address location="http://localhost:8000/vm-session-manager"></soap:address>
</port>
</service>
</definitions>