facilitator/src/eduze/vms/facilitator/logic/mpi/virtualmeeting/vm_-639785513.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.server.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.server.vms.eduze/" name="VirtualMeetingImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.server.vms.eduze/" schemaLocation="http://0.0.0.0:8000/vm/vm_-639785513?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSnapshot">
<part name="parameters" element="tns:getSnapshot"></part>
</message>
<message name="getSnapshotResponse">
<part name="parameters" element="tns:getSnapshotResponse"></part>
</message>
<message name="getVMId">
<part name="parameters" element="tns:getVMId"></part>
</message>
<message name="getVMIdResponse">
<part name="parameters" element="tns:getVMIdResponse"></part>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<message name="getActiveScreenPresenterId">
<part name="parameters" element="tns:getActiveScreenPresenterId"></part>
</message>
<message name="getActiveScreenPresenterIdResponse">
<part name="parameters" element="tns:getActiveScreenPresenterIdResponse"></part>
</message>
<message name="getActiveSpeechFacilitatorId">
<part name="parameters" element="tns:getActiveSpeechFacilitatorId"></part>
</message>
<message name="getActiveSpeechFacilitatorIdResponse">
<part name="parameters" element="tns:getActiveSpeechFacilitatorIdResponse"></part>
</message>
<message name="getParticipant">
<part name="parameters" element="tns:getParticipant"></part>
</message>
<message name="getParticipantResponse">
<part name="parameters" element="tns:getParticipantResponse"></part>
</message>
<message name="getParticipants">
<part name="parameters" element="tns:getParticipants"></part>
</message>
<message name="getParticipantsResponse">
<part name="parameters" element="tns:getParticipantsResponse"></part>
</message>
<message name="getActiveSpeechPresenterId">
<part name="parameters" element="tns:getActiveSpeechPresenterId"></part>
</message>
<message name="getActiveSpeechPresenterIdResponse">
<part name="parameters" element="tns:getActiveSpeechPresenterIdResponse"></part>
</message>
<message name="getActiveScreenFacilitatorId">
<part name="parameters" element="tns:getActiveScreenFacilitatorId"></part>
</message>
<message name="getActiveScreenFacilitatorIdResponse">
<part name="parameters" element="tns:getActiveScreenFacilitatorIdResponse"></part>
</message>
<portType name="VirtualMeeting">
<operation name="getSnapshot">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSnapshotRequest" message="tns:getSnapshot"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSnapshotResponse" message="tns:getSnapshotResponse"></output>
</operation>
<operation name="getVMId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getVMIdRequest" message="tns:getVMId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getVMIdResponse" message="tns:getVMIdResponse"></output>
</operation>
<operation name="getStatus">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getStatusRequest" message="tns:getStatus"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
<operation name="getActiveScreenPresenterId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenPresenterIdRequest" message="tns:getActiveScreenPresenterId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenPresenterIdResponse" message="tns:getActiveScreenPresenterIdResponse"></output>
</operation>
<operation name="getActiveSpeechFacilitatorId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechFacilitatorIdRequest" message="tns:getActiveSpeechFacilitatorId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechFacilitatorIdResponse" message="tns:getActiveSpeechFacilitatorIdResponse"></output>
</operation>
<operation name="getParticipant">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantRequest" message="tns:getParticipant"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantResponse" message="tns:getParticipantResponse"></output>
</operation>
<operation name="getParticipants">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantsRequest" message="tns:getParticipants"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantsResponse" message="tns:getParticipantsResponse"></output>
</operation>
<operation name="getActiveSpeechPresenterId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechPresenterIdRequest" message="tns:getActiveSpeechPresenterId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechPresenterIdResponse" message="tns:getActiveSpeechPresenterIdResponse"></output>
</operation>
<operation name="getActiveScreenFacilitatorId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenFacilitatorIdRequest" message="tns:getActiveScreenFacilitatorId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenFacilitatorIdResponse" message="tns:getActiveScreenFacilitatorIdResponse"></output>
</operation>
</portType>
<binding name="VirtualMeetingImplPortBinding" type="tns:VirtualMeeting">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSnapshot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVMId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveScreenPresenterId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveSpeechFacilitatorId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getParticipant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getParticipants">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveSpeechPresenterId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveScreenFacilitatorId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VirtualMeetingImplService">
<port name="VirtualMeetingImplPort" binding="tns:VirtualMeetingImplPortBinding">
<soap:address location="http://0.0.0.0:8000/vm/vm_-639785513"></soap:address>
</port>
</service>
</definitions>