facilitator/src/eduze/vms/facilitator/logic/mpi/virtualmeeting/vm_-555088326.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.logic.server.vms.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.logic.server.vms.eduze/" name="VirtualMeetingImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.logic.server.vms.eduze/" schemaLocation="http://0.0.0.0:8000/vm/vm_-555088326?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSnapshot">
<part name="parameters" element="tns:getSnapshot"></part>
</message>
<message name="getSnapshotResponse">
<part name="parameters" element="tns:getSnapshotResponse"></part>
</message>
<message name="addSharedTask">
<part name="parameters" element="tns:addSharedTask"></part>
</message>
<message name="addSharedTaskResponse">
<part name="parameters" element="tns:addSharedTaskResponse"></part>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<message name="getVMId">
<part name="parameters" element="tns:getVMId"></part>
</message>
<message name="getVMIdResponse">
<part name="parameters" element="tns:getVMIdResponse"></part>
</message>
<message name="getSharedTask">
<part name="parameters" element="tns:getSharedTask"></part>
</message>
<message name="getSharedTaskResponse">
<part name="parameters" element="tns:getSharedTaskResponse"></part>
</message>
<message name="getActiveScreenFacilitatorId">
<part name="parameters" element="tns:getActiveScreenFacilitatorId"></part>
</message>
<message name="getActiveScreenFacilitatorIdResponse">
<part name="parameters" element="tns:getActiveScreenFacilitatorIdResponse"></part>
</message>
<message name="getParticipant">
<part name="parameters" element="tns:getParticipant"></part>
</message>
<message name="getParticipantResponse">
<part name="parameters" element="tns:getParticipantResponse"></part>
</message>
<message name="getActiveSpeechFacilitatorId">
<part name="parameters" element="tns:getActiveSpeechFacilitatorId"></part>
</message>
<message name="getActiveSpeechFacilitatorIdResponse">
<part name="parameters" element="tns:getActiveSpeechFacilitatorIdResponse"></part>
</message>
<message name="getParticipants">
<part name="parameters" element="tns:getParticipants"></part>
</message>
<message name="getParticipantsResponse">
<part name="parameters" element="tns:getParticipantsResponse"></part>
</message>
<message name="unAssignSharedTask">
<part name="parameters" element="tns:unAssignSharedTask"></part>
</message>
<message name="unAssignSharedTaskResponse">
<part name="parameters" element="tns:unAssignSharedTaskResponse"></part>
</message>
<message name="SharedTaskNotFoundException">
<part name="fault" element="tns:SharedTaskNotFoundException"></part>
</message>
<message name="getActiveScreenPresenterId">
<part name="parameters" element="tns:getActiveScreenPresenterId"></part>
</message>
<message name="getActiveScreenPresenterIdResponse">
<part name="parameters" element="tns:getActiveScreenPresenterIdResponse"></part>
</message>
<message name="removeSharedTask">
<part name="parameters" element="tns:removeSharedTask"></part>
</message>
<message name="removeSharedTaskResponse">
<part name="parameters" element="tns:removeSharedTaskResponse"></part>
</message>
<message name="getSharedTasks">
<part name="parameters" element="tns:getSharedTasks"></part>
</message>
<message name="getSharedTasksResponse">
<part name="parameters" element="tns:getSharedTasksResponse"></part>
</message>
<message name="assignSharedTask">
<part name="parameters" element="tns:assignSharedTask"></part>
</message>
<message name="assignSharedTaskResponse">
<part name="parameters" element="tns:assignSharedTaskResponse"></part>
</message>
<message name="modifySharedTask">
<part name="parameters" element="tns:modifySharedTask"></part>
</message>
<message name="modifySharedTaskResponse">
<part name="parameters" element="tns:modifySharedTaskResponse"></part>
</message>
<message name="getActiveSpeechPresenterId">
<part name="parameters" element="tns:getActiveSpeechPresenterId"></part>
</message>
<message name="getActiveSpeechPresenterIdResponse">
<part name="parameters" element="tns:getActiveSpeechPresenterIdResponse"></part>
</message>
<portType name="VirtualMeeting">
<operation name="getSnapshot">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSnapshotRequest" message="tns:getSnapshot"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSnapshotResponse" message="tns:getSnapshotResponse"></output>
</operation>
<operation name="addSharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/addSharedTaskRequest" message="tns:addSharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/addSharedTaskResponse" message="tns:addSharedTaskResponse"></output>
</operation>
<operation name="getStatus">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getStatusRequest" message="tns:getStatus"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
<operation name="getVMId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getVMIdRequest" message="tns:getVMId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getVMIdResponse" message="tns:getVMIdResponse"></output>
</operation>
<operation name="getSharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSharedTaskRequest" message="tns:getSharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSharedTaskResponse" message="tns:getSharedTaskResponse"></output>
</operation>
<operation name="getActiveScreenFacilitatorId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenFacilitatorIdRequest" message="tns:getActiveScreenFacilitatorId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenFacilitatorIdResponse" message="tns:getActiveScreenFacilitatorIdResponse"></output>
</operation>
<operation name="getParticipant">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantRequest" message="tns:getParticipant"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantResponse" message="tns:getParticipantResponse"></output>
</operation>
<operation name="getActiveSpeechFacilitatorId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechFacilitatorIdRequest" message="tns:getActiveSpeechFacilitatorId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechFacilitatorIdResponse" message="tns:getActiveSpeechFacilitatorIdResponse"></output>
</operation>
<operation name="getParticipants">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantsRequest" message="tns:getParticipants"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getParticipantsResponse" message="tns:getParticipantsResponse"></output>
</operation>
<operation name="unAssignSharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/unAssignSharedTaskRequest" message="tns:unAssignSharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/unAssignSharedTaskResponse" message="tns:unAssignSharedTaskResponse"></output>
<fault message="tns:SharedTaskNotFoundException" name="SharedTaskNotFoundException" wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/unAssignSharedTask/Fault/SharedTaskNotFoundException"></fault>
</operation>
<operation name="getActiveScreenPresenterId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenPresenterIdRequest" message="tns:getActiveScreenPresenterId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveScreenPresenterIdResponse" message="tns:getActiveScreenPresenterIdResponse"></output>
</operation>
<operation name="removeSharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/removeSharedTaskRequest" message="tns:removeSharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/removeSharedTaskResponse" message="tns:removeSharedTaskResponse"></output>
<fault message="tns:SharedTaskNotFoundException" name="SharedTaskNotFoundException" wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/removeSharedTask/Fault/SharedTaskNotFoundException"></fault>
</operation>
<operation name="getSharedTasks">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSharedTasksRequest" message="tns:getSharedTasks"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getSharedTasksResponse" message="tns:getSharedTasksResponse"></output>
</operation>
<operation name="assignSharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/assignSharedTaskRequest" message="tns:assignSharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/assignSharedTaskResponse" message="tns:assignSharedTaskResponse"></output>
<fault message="tns:SharedTaskNotFoundException" name="SharedTaskNotFoundException" wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/assignSharedTask/Fault/SharedTaskNotFoundException"></fault>
</operation>
<operation name="modifySharedTask">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/modifySharedTaskRequest" message="tns:modifySharedTask"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/modifySharedTaskResponse" message="tns:modifySharedTaskResponse"></output>
<fault message="tns:SharedTaskNotFoundException" name="SharedTaskNotFoundException" wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/modifySharedTask/Fault/SharedTaskNotFoundException"></fault>
</operation>
<operation name="getActiveSpeechPresenterId">
<input wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechPresenterIdRequest" message="tns:getActiveSpeechPresenterId"></input>
<output wsam:Action="http://webservices.logic.server.vms.eduze/VirtualMeeting/getActiveSpeechPresenterIdResponse" message="tns:getActiveSpeechPresenterIdResponse"></output>
</operation>
</portType>
<binding name="VirtualMeetingImplPortBinding" type="tns:VirtualMeeting">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSnapshot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addSharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVMId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveScreenFacilitatorId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getParticipant">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getActiveSpeechFacilitatorId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getParticipants">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unAssignSharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SharedTaskNotFoundException">
<soap:fault name="SharedTaskNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getActiveScreenPresenterId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeSharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SharedTaskNotFoundException">
<soap:fault name="SharedTaskNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSharedTasks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="assignSharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SharedTaskNotFoundException">
<soap:fault name="SharedTaskNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="modifySharedTask">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SharedTaskNotFoundException">
<soap:fault name="SharedTaskNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getActiveSpeechPresenterId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VirtualMeetingImplService">
<port name="VirtualMeetingImplPort" binding="tns:VirtualMeetingImplPortBinding">
<soap:address location="http://0.0.0.0:8000/vm/vm_-555088326"></soap:address>
</port>
</service>
</definitions>